@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root
{
  --Primary-Color: #30475e;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background: #ecf0f3;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6
{
  font-weight: 600 !important;
}
.Header-Row
{
  
}
.TopBar-Row 
{
  background: var(--Primary-Color);
}
.Container 
{
  width: 1140px;
  margin: 0 auto;
  /* border: 1px solid crimson; */
}
.TopBar-Wrapper 
{
  overflow: hidden;
}
.Welcome-Txt 
{
  float: left;
  width: 210px;
  margin-right: 20px;
}
.Welcome-Txt h5 
{
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 40px;
}
.Top-Menu 
{
  float: right;
  width: 908px;
}
.Top-Menu ul 
{
  list-style: none;
  text-align: right;
}
.Top-Menu li 
{
  display: inline-block;
}
.Top-Menu ul li a 
{
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 9px 20px;
  display: block;
  transition: 0.5s;
}
.Top-Menu ul li:hover a
{
  color: #d7385e;
} 
.Top-Menu ul li a.Login-Btn 
{
  background: #d7385e;
  transition: 0.5s;
}
.Top-Menu ul li a.Login-Btn:hover
{
  background: #d6d2c4;
  color: #d7385e;
}
.MainBar-Wrapper 
{
  overflow: hidden;
}
.MainBar-Row 
{
  background: #ecf0f3;
}
.Logo 
{
  float: left;
  width: 250px;
  margin-right: 20px;
}
.Logo img 
{
  width: 100%;
}
.Main-Menu 
{
  float: right;
  width: 870px;
}
.Main-Menu ul 
{
  list-style: none;
  text-align: right;
  padding: 14px 0;
}
.Main-Menu ul li 
{
  display: inline-block;
}
.Main-Menu ul li a
{
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  color: #4E4E50;
  font-weight: 600;
  transition: .5s;
}
.Main-Menu ul li a:hover
{
  color: #d7385e;
}
.Main-Menu ul li .Active
{
  color: #d7385e;
}
.Main-Menu ul li .Active:hover
{
  color: #45285E;
}
.Showcase-Content 
{
  width: 100%;
}
.Showcase-Banner
{
  background-image: url("../Assets-File/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.Showcase-Content h1 
{
  color: #fff;
  text-transform: capitalize;
  font-size: 34px;
  margin-bottom: 10px;
}
.Showcase-Content p 
{
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
}
.Showcase-Content a 
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #d7385e;
  color: #ffff;
  display: inline-block;
  padding: 10px 14px;
  border-radius: 4px;
  transition: .5s;
  outline: none;
}
.Showcase-Content a:hover
{
  background: #D6D2C4;
  color: #d7385e;
}
.Services-Section
{
  
}
.Services-Gallery
{
  padding: 60px 0;
}
.Title 
{
  text-align: center;
  padding: 0 215px;
}
.Title h4 
{
  text-transform: uppercase;
  font-size: 30px;
  color: #4B3C4C;
  margin-bottom: 10px;
}
.Title .Bar
{
  width: 135px;
  height: 6px;
  background: #ecf0f3;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px #cbced1,
              -3px -3px 5px #f7f9fa,
              inset 1px 1px 2px #cbced1;
  position: relative;
}
.Title .Bar::before
{
  content: "";
  position: absolute;
  width: 20px;
  height: 6px;
  background: #d7385e;
  border-radius: 3px;
  left: 0;
  animation: BG-Move 4s linear infinite;
}
@keyframes BG-Move{
  To
  {
    left: 85%;
  }
}
.Title p 
{
  color: #6d6d6d;
  font-size: 16px;
  margin-top: 10px;
}
.Services-Box 
{
  overflow: hidden;
  padding: 35px 40px;
}
.Single-Service-Box 
{
  float: left;
  width: 326px;
  margin-right: 40px;
  text-align: center;
  padding: 30px 30px;
  background: #ecf0f3;
  box-shadow: 8px 8px 12px #cbced1,
              -8px -8px 12px #f7fafc;
  border-radius: 10px;
  transition: .5s;
}
.Single-Service-Box:hover
{
  box-shadow: inset 8px 8px 12px #cbced1,
              inset -8px -8px 12px #f7fafc;
}
.Single-Service-Box:last-child
{
  margin-right: 0;
}
.Single-Service-Box i 
{
  background: #57565B;
  color: #ffff;
  width: 100px;
  padding: 30px 0px;
  font-size: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px #5f5f5f,
              0px 0px 0px 5px #ecf0f3,
              8px 8px 12px #a7aaaf,
              -8px -8px 12px #f7fafc;
}
.Single-Service-Box .fa-chart-bar
{
  background: #d7385e;
}
.Single-Service-Box .fa-file-alt
{
  background:  #57565B;
}
.Single-Service-Box h4 
{
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 4px;
  color: #4E4E50;
}
.Single-Service-Box p 
{
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #555;
}
.Single-Service-Box a 
{
  text-decoration: none;
  color: #30475E;
  text-transform: uppercase;
  font-size: 12px;
  background: #ecf0f3;
  padding: 8px 35px;
  border-radius: 8px;
  box-shadow: inset 3px 3px 5px #cbced1,
              inset -3px -3px 5px #f7f9fa;
  transition: .5s;
}
.Single-Service-Box:hover a
{
  box-shadow: 3px 3px 5px #cbced1,
              -3px -3px 5px #f7f9fa;
}
.Learning-Process
{
  background: #e9ecec;
}
.Content-Wrapper
{
  overflow: hidden;
  padding: 60px 0;
}
.Left-Content 
{
  float: left;
  width: 540px;
  margin-right: 40px;
}
.Learning-Process h4 
{
  text-transform: uppercase;
  font-size: 28px;
  color: #4B3C4C;
}
.Learning-Process p 
{
  color: #555;
  line-height: 25px;
  margin: 10px 0;
}
.Learning-Process a 
{
  text-decoration: none;
  text-transform: capitalize;
  color: #ffff;
  background: #d7385e;
  padding: 8px 30px;
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
  transition: .5s;
}
.Learning-Process a:hover
{
  background: #d6d2c4;
  color: #d7385e;
}
.Video-Content-Right 
{
  float: right;
  width: 560px;
  height: 243px;
}
.Video-Content-Right iframe 
{
  width: 100%;
  border: 0;
  height: 100%;
}
.Feature-Section
{

}
.Features-Gallery
{
  padding: 60px 0;
}
.Features-Box
{
  overflow: hidden;
  margin-top: 50px;
}
.Single-Feature-Box 
{
  float: left;
  width: 360px;
  margin: 0 30px 30px 0;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: inset 4px 4px 8px #cecbd1,
              inset -4px -4px 8px #f7f9fa;
  position: relative;
}
.Single-Feature-Box::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: #fffcfd70;
  transition: .5s;
  border-radius: 3px;
  z-index: -1;
}
.Single-Feature-Box:hover::before
{
  height: 100%;
  width: 100%;
}
.Single-Feature-Box:nth-child(3),
.Single-Feature-Box:nth-child(6)
{
  margin-right: 0;
}
.Single-Feature-Box i 
{
  font-size: 40px;
  margin: 20px 0;
  color: #d7385e;
}
.Single-Feature-Box h4 
{
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
  color: #4E4E50;
}
.Single-Feature-Box p 
{
  color: #555;
  line-height: 26px;
  margin-bottom: 15px;
}
.Features-Box .Button 
{
  clear: both;
  text-align: center;
  padding: 15px 0;
}
.Features-Box .Button a 
{
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  text-transform: capitalize;
  background: #d7385e;
  color: #ffff;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 4px 4px 8px #cbced1,
              -4px -4px 8px #f7f9fa;
  transition: .5s;
}
.Features-Box .Button a:hover
{
  background: #D6D2C4;
  color: #d7385e;
}
.Top-Footer
{
  background: #30475E;
}
.TFContent-Wrapper
{
  overflow: hidden;
  padding: 50px 0;
}
.TFBox 
{
  float: left;
  width: 346px;
  margin-right: 50px;
}
.TFBox:last-child
{
  margin-right: 0;
}
.TFBox h4 
{
  text-transform: capitalize;
  font-size: 20px;
  color: #d7385e;
  margin-bottom: 15px;
  border-bottom: 1px solid #d6d2c4;
  position: relative;
}
.TFBox h4::before
{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 1px;
  border-radius: 2px;
  background: #d7385e;
}
.Top-Footer1 a 
{
  text-decoration: none;
  color: #ffff;
  display: block;
  margin-bottom: 8px;
  transition: .5s;
}
.Top-Footer1 a:hover
{
  color: #d7385e;
}
.Top-Footer1 a i 
{
  color: #d7385e;
  font-size: 16px;
  margin-right: 5px;
}
.Social-Ul
{
  list-style: none;
  margin-top: 20px;
}
.Social-Ul li
{
  display: inline-block;
}
.Social-Ul li a
{
  margin: 0;
  padding-right: 8px;
  display: block;
}
.Social-Ul li a i
{
  font-size: 13px;
  color: #4E4E50;
  margin: 0;
  height: 30px;
  width: 30px;
  background: #ffff;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  transition: .5s;
}
.Social-Ul li a i:hover
{
  color: #d7385e;
}
.Top-Footer2 ul
{
  list-style: none;
}
.Top-Footer2 ul li a
{
  text-decoration: none;
  text-transform: capitalize;
  color: #ffff;
  padding: 0px 0px 5px 0px;
  display: block;
  transition: .5s;
}
.Top-Footer2 ul li a:hover
{
  color: #d7385e;
}
.Top-Footer2 ul li a i
{
  color: #d7385e;
}
.Top-Footer3 p
{
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.Newslatter 
{
  width: 90%;
}
.Newslatter input[type="email"] 
{
  padding: 8px 20px;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #4E4E50;
}
.Newslatter input[type="submit"] 
{
  margin-left: -4px;
  background: #d7385e;
  outline: none;
  border: none;
  color: #ffff;
  padding: 8px 16px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}
.Main-Footer
{
  background: #30475E;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #9f9aa365;
}
.Main-Footer p
{
  text-transform: uppercase;
  color: #ffff;
  font-weight: bold;
}