@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root
{
  --Primary-Color: #30475e;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background: #f7f9fa;
}
h1, h2, h3, h4, h5, h6
{
  font-weight: 600px !important;
}
.Header-Row
{
  
}
.TopBar-Row 
{
  background: var(--Primary-Color);
}
.Container 
{
  width: 1140px;
  margin: 0 auto;
}
.TopBar-Wrapper 
{
  overflow: hidden;
}
.Welcome-Txt 
{
  float: left;
  width: 210px;
  margin-right: 20px;
}
.Welcome-Txt h5 
{
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 40px;
}
.Top-Menu 
{
  float: right;
  width: 908px;
}
.Top-Menu ul 
{
  list-style: none;
  text-align: right;
}
.Top-Menu li 
{
  display: inline-block;
}
.Top-Menu ul li a 
{
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 9px 20px;
  display: block;
  transition: 0.5s;
}
.Top-Menu ul li:hover a
{
  color: #d7385e;
} 
.Top-Menu ul li a.Login-Btn 
{
  background: #d7385e;
  transition: 0.5s;
}
.Top-Menu ul li a.Login-Btn:hover
{
  background: #d6d2c4;
  color: #d7385e;
}
.MainBar-Wrapper 
{
  overflow: hidden;
}
.MainBar-Row 
{
  background: #f7f9fa;
}
.Logo 
{
  float: left;
  width: 250px;
  margin-right: 20px;
}
.Logo img 
{
  width: 100%;
}
.Main-Menu 
{
  float: right;
  width: 870px;
}
.Main-Menu ul 
{
  list-style: none;
  text-align: right;
  padding: 14px 0;
}
.Main-Menu ul li 
{
  display: inline-block;
}
.Main-Menu ul li a
{
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  color: #4E4E50;
  font-weight: 600;
  transition: .5s;
}
.Main-Menu ul li a:last-child
{
  padding: 10px 0px 10px 10px;
}
.Main-Menu ul li a:hover
{
  color: #d7385e;
}
.Main-Menu ul li #First-Option
{
  color: #d7385e;
}
.Main-Menu ul li #First-Option:hover
{
  color: #45285E;
}
.Showcase-Content 
{
  width: 50%;
}
.Showcase-Banner
{
  background-image: url("../Assets-File/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.Showcase-Content h1 
{
  color: #fff;
  text-transform: capitalize;
  font-size: 34px;
  margin-bottom: 10px;
}
.Showcase-Content p 
{
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
}
.Showcase-Content a 
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #d7385e;
  color: #ffff;
  display: inline-block;
  padding: 10px 14px;
  border-radius: 4px;
  transition: .5s;
  outline: none;
}
.Showcase-Content a:hover
{
  background: #D6D2C4;
  color: #d7385e;
}